html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    rgba(54, 129, 216, 0.6),
    rgba(88, 88, 88, 0.4)
  );
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px 0px;
}

input {
  height: 35px;
}

h1 {
  font-size: 4em;
}

.doctorImage {
  width: 100%;
  margin-bottom: 15px;
}

.inputField {
  text-align: center;
}

.card {
  margin: auto;
  padding: 10px;
  box-shadow: 4px 5px 8px rgba(34,34,34,0.8);
  background-color: rgba(184, 184, 184, 0.95);
  border-color: black;
  min-width: 80%;
  max-width: 80%;
  align-content: center;
  margin-top: 20px;
}

#userDoctor {
  margin-left: 40px;
}