html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    rgba(54, 129, 216, 0.6),
    rgba(88, 88, 88, 0.4)
  );
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px 0px;
}

input {
  height: 35px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.doctorImage {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 1rem;
}

.inputField {
  margin: auto;
  width: 60%;
}

.card {
  margin: auto;
  padding: 10px;
  box-shadow: 4px 5px 8px rgba(34,34,34,0.8);
  background: 
    linear-gradient(
      rgba(34,34,34,0.60),
      rgba(100, 100, 100, 0.589)
    ),
      url('./img/blueflowbackground.svg') no-repeat;
  background-size: cover;
  /* background-size: fit; */
  border-color: black;
  min-width: 80%;
  max-width: 80%;
  align-content: center;
  margin-top: 20px;
  color: white;
  font-size: 1.15em;
}

.availableDoctors {
  margin-bottom: 40px;
}

.btn-outline-primary{
  color: white;
  border-color: white;
}

.form-control{
  border: 1px solid #fff;
  border-radius: 1.25rem;
}

.errorUserInput{
  margin: auto;
  font-size: 1.75em;
}

.btn {
  border-radius: 1.25rem;
}